
body {
    font-family: 'ABeeZee';
    font-size: 22px;
    margin: 0;
}

a {
    text-decoration: none;
}

.card {
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    transition: 0.5s;
}

.card-img{
    width: 100%;
}
.card-img:hover {
    border-radius: 20px 20px 0 0;
    transition: 0.5s;
}
  
.card-caption {
    padding: 2px 16px;
}

/* start styles for nav */

.topnav {
    background-color: lavender;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* end styles for nav */

#main-content{
    display: flex;
    justify-content: space-evenly;
}

section#main-content{
    margin-top: 2%;
    margin-left: 2%;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

li{
    margin-top: 1%;
    margin-bottom: 5%;
}

#list-of-labs{
    margin-top: 0;
}

#list-of-labs li:hover {
    width: 100%;
    border-bottom: 5px solid lavender;
    transition: 0.5s;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: lavender;
    padding: 10px;
    margin-top: 6%;
}

.socials {
    margin: 1%;
    font-size: 26px;
}

.w3checker{
    display: flex;
    margin: 1%;
}

.html-checker, .css-checker{
    margin-left: 2%;
}

#first-nav-item{
    margin-left: 2%;
}

/* style socials */

.fa-twitter, .fa-linkedin, .fa-instagram{
    color: rebeccapurple;
}

.fa-twitter:hover{
    color: #1DA1F2;
}

.fa-linkedin:hover{
    color: #0e76a8;
}

.fa-instagram:hover{
    color: #FFC0CB;
}

/* end styles for socials */

/* ol {
    display: flex;
    flex-direction: column-reverse;
}
ol > li {
    flex: 0 0 auto;
} */
